<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

  <!-- Used for fixing robot to 'base_link' -->
  <robot name="robot_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="world"/>
  <xacro:arg name="is_ignition" default="true"/>



  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000574318952514363 8.71933369950284E-09 0.0397387129538838"
        rpy="0 0 0" />
      <mass
        value="0.845575675087858" />
      <inertia
        ixx="0.00243283459144695"
        ixy="-1.57084851372232E-11"
        ixz="-3.94360358635638E-07"
        iyy="0.00243672722771256"
        iyz="2.47877793314836E-12"
        izz="0.00477827472292116" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.0104672363505767 0.0130037589567118 0.0887514585269518"
        rpy="0 0 0" />
      <mass
        value="0.294805326724156" />
      <inertia
        ixx="0.000494520641136983"
        ixy="7.71447578216477E-05"
        ixz="-1.09087128391225E-05"
        iyy="0.000526647392068225"
        iyz="-1.32291209749821E-05"
        izz="0.000275588636139406" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="continuous">
    <origin
      xyz="0 0 0.0637999999999999"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
  </joint>

  <joint name="base2world" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0 0.0" rpy="0 0 1.57"/>
  </joint>

  
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.0145929085684511 -0.095193497861495 0.208704831834355"
        rpy="0 0 0" />
      <mass
        value="0.615358469584155" />
      <inertia
        ixx="0.00528683459717594"
        ixy="-0.000107802293650622"
        ixz="0.000217076740145559"
        iyy="0.00432759833357079"
        iyz="0.00166942026358935"
        izz="0.00128996133901587" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="continuous">
    <origin
      xyz="0.0493654257105637 0.0629674380302429 0.096866312640014"
      rpy="-0.853422783514298 0.0375562443434387 0.921651311234904" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="-0.998759127785777 0.0498016532315323 0" />
    
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-0.0918379209757132 -0.0967945193198121 0.102996208510192"
        rpy="0 0 0" />
      <mass
        value="0.547836436672922" />
      <inertia
        ixx="0.0072917470598008"
        ixy="3.63924247489624E-07"
        ixz="-6.45426763974438E-06"
        iyy="0.00393800602451967"
        iyz="0.00328204549277926"
        izz="0.00382906951565475" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="continuous">
    <origin
      xyz="0.0150729083014778 -0.149509002764561 0.330901216092781"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="-0.998759127785812 0.0498016532308395 0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.0918334014088884 -0.00458203523122802 0.00672183601259446"
        rpy="0 0 0" />
      <mass
        value="0.462803643323728" />
      <inertia
        ixx="0.00059732911228678"
        ixy="8.73335696458294E-06"
        ixz="-7.44079317387951E-05"
        iyy="0.000772721879623989"
        iyz="3.66965518616369E-06"
        izz="0.000780971939008755" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>

  <link name="tcp" />
  <joint name="end_effector" type="fixed">
    <parent link="Link5" />
    <child link="tcp" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </joint>
  <joint
    name="Joint4"
    type="continuous">
    <origin
      xyz="-0.0336807621063758 -0.173467508873688 0.177903552627862"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0.998759127785812 -0.0498016532308386 0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="5.16510475856435E-06 0.000823289067492849 0.0786324376939109"
        rpy="0 0 0" />
      <mass
        value="0.365663275650567" />
      <inertia
        ixx="0.000218754439331582"
        ixy="-7.05727645748623E-07"
        ixz="4.50197885618574E-07"
        iyy="0.000261467554757976"
        iyz="-1.3208112671048E-06"
        izz="0.000372236862409116" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="continuous">
    <origin
      xyz="0.141823796145833 -0.00707183594519112 0.0758294127267807"
      rpy="0 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="Gripper">
    <inertial>
      <origin
        xyz="0.0313419271439294 0.00195800621903541 0.0136563325616652"
        rpy="0 0 0" />
      <mass
        value="0.009689501837869" />
      <inertia
        ixx="1.52631120431066E-06"
        ixy="2.16129057580804E-07"
        ixz="-2.92424940465045E-07"
        iyy="1.54632509875812E-06"
        iyz="2.04880033549596E-07"
        izz="1.14646903196643E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Jaw"
    type="prismatic">
    <origin
      xyz="-0.000337767458213678 -0.000111377297784765 0.163732103919923"
      rpy="0 0 0" />
    <parent
      link="Link5" />
    <child
      link="Gripper" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.10"
      upper="0.05"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="Gripper2">
    <inertial>
      <origin
        xyz="-0.0313426635954692 -0.00204865937271781 0.0135731985666656"
        rpy="0 0 0" />
      <mass
        value="0.00972502097423268" />
      <inertia
        ixx="1.5488459986236E-06"
        ixy="2.14348007042954E-07"
        ixz="2.91441670018091E-07"
        iyy="1.56112763782309E-06"
        iyz="-2.15710093312019E-07"
        izz="1.16943928328056E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Gripper2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Gripper2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Jaw2"
    type="prismatic">
    <origin
      xyz="-0.000337767458213678 -0.000111377297784765 0.163732103919923"
      rpy="0 0 0" />
    <parent
      link="Link5" />
    <child
      link="Gripper2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.10"
      upper="0.05"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="Servo6">
    <inertial>
      <origin
        xyz="-0.00775504060016519 0.0171761443248705 -0.0191283435208822"
        rpy="0 0 0" />
      <mass
        value="0.0338992195998093" />
      <inertia
        ixx="6.7467652695532E-06"
        ixy="-1.03929617192294E-06"
        ixz="-1.18882814777727E-06"
        iyy="6.30870940715175E-06"
        iyz="1.02323513693698E-06"
        izz="7.1597657663898E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S6"
    type="fixed">
    <origin
      xyz="-0.0203490814615676 -0.0223613772978513 0.141200000002861"
      rpy="0.626204560037557 0.625305597060859 -0.730178297772079" />
    <parent
      link="Link5" />
    <child
      link="Servo6" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="ServoHorn">
    <inertial>
      <origin
        xyz="-2.65708967304157E-05 2.3896435675852E-05 0.00787238289084291"
        rpy="0 0 0" />
      <mass
        value="0.00121114139692214" />
      <inertia
        ixx="1.30283451337988E-07"
        ixy="-2.97677483756127E-09"
        ixz="4.33308622869522E-10"
        iyy="1.21841907449586E-07"
        iyz="-1.71314850402873E-09"
        izz="1.66797169377445E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/ServoHorn.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/ServoHorn.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="SHorn"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="-0.168237624265602 0.961175410979556 3.00323393606966" />
    <parent
      link="Servo6" />
    <child
      link="ServoHorn" />
    <axis
      xyz="0.953640041309816 -0.300949616398845 0" />
  </joint>
  <link
    name="Servo5">
    <inertial>
      <origin
        xyz="-0.00936552104157173 0.00760286939595534 0.0105111080561433"
        rpy="0 0 0" />
      <mass
        value="0.0454736" />
      <inertia
        ixx="1.03307477287699E-05"
        ixy="-2.59539696915875E-06"
        ixz="2.41180843247704E-07"
        iyy="9.24055957526323E-06"
        iyz="-1.95789048348662E-07"
        izz="1.25235048399669E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S5"
    type="fixed">
    <origin
      xyz="0.146990716801936 -0.00697552224343512 -0.00117058727172004"
      rpy="0.626204560037557 0.625305597060859 -0.730178297772079" />
    <parent
      link="Link4" />
    <child
      link="Servo5" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Servo4">
    <inertial>
      <origin
        xyz="0.0152838579461713 0.0188272724068372 0"
        rpy="0 0 0" />
      <mass
        value="0.0454736000000001" />
      <inertia
        ixx="1.01698298680469E-05"
        ixy="-2.4647648908021E-06"
        ixz="-3.73793817103654E-08"
        iyy="9.13451329911277E-06"
        iyz="3.03443402651099E-08"
        izz="1.27904689768404E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S4"
    type="fixed">
    <origin
      xyz="-0.113385808564421 -0.165558989844042 0.174264061455925"
      rpy="0.626204560037558 0.625305597060859 -0.730178297772079" />
    <parent
      link="Link3" />
    <child
      link="Servo4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Servo3">
    <inertial>
      <origin
        xyz="0.0169502482200845 0.0220391405672838 -5.55924001366392E-06"
        rpy="0 0 0" />
      <mass
        value="0.0388630957707345" />
      <inertia
        ixx="1.87313755714949E-05"
        ixy="4.27797539623738E-06"
        ixz="-1.27887285831715E-08"
        iyy="2.04752161211675E-05"
        iyz="1.52320790795065E-08"
        izz="1.43779591384557E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S3"
    type="fixed">
    <origin
      xyz="0.0150729083014778 -0.149509002764561 0.330901216092781"
      rpy="0.626204560037558 0.625305597060859 -0.730178297772079" />
    <parent
      link="Link2" />
    <child
      link="Servo3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Servo2">
    <inertial>
      <origin
        xyz="0.00987298497549099 0.0121619310278281 -0.0121100890145869"
        rpy="0 0 0" />
      <mass
        value="0.0447838528375546" />
      <inertia
        ixx="9.30134325588415E-06"
        ixy="6.37357317983374E-07"
        ixz="2.06166227086134E-08"
        iyy="9.56906116608352E-06"
        iyz="2.54119155797078E-08"
        izz="3.63539439068461E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/Servo2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S2"
    type="fixed">
    <origin
      xyz="0.00157565545865646 0.00194091674973929 0.0975000000000001"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Servo2" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>